<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <div class="name">
        Beast
      </div>
      <div class="links">
        <a href="#">Create Art</a>
        <a href="#">Rate Art</a>
        <a href="#">My Profile</a>
      </div>
    </nav>
    <main>
      <div class="artArea">

      </div>
      <div class="palette">
        All the Colors
      </div>
    </main>
  </body>
</html>
