<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gallery</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Sigmar+One" rel="stylesheet">
    <link rel="stylesheet" href="gallery-style.css">
  </head>
  <body>
    <nav>
      <h3 class="nav-title">Beast Jesus</h3>
      <div class="links">
        <a class="prof" href="/user">Your Profile</a>
        <a class="gallery" href="/gallery">Pixelate It</a>
      </div>
    </nav>
    <div class="page-container">
      <div class="container">


    <aside class="art-gallery">
      <div class="three-pics">
        <img src="https://c1.staticflickr.com/5/4177/34119127771_e5b348f0bd_z.jpg">
        <img src="https://c1.staticflickr.com/3/2828/33865752910_3dff6e8737_z.jpg">
        <img src="https://c1.staticflickr.com/3/2888/34119127641_b346986164_z.jpg">
        <img src="https://c1.staticflickr.com/3/2810/33865752380_45484d26fc_z.jpg">
        <img src="https://c1.staticflickr.com/5/4177/34119127771_e5b348f0bd_z.jpg">
        <img src="https://c1.staticflickr.com/3/2828/33865752910_3dff6e8737_z.jpg">
        <img src="https://c1.staticflickr.com/3/2888/34119127641_b346986164_z.jpg">
        <img src="https://c1.staticflickr.com/3/2810/33865752380_45484d26fc_z.jpg">
        <img src="https://c1.staticflickr.com/5/4177/34119127771_e5b348f0bd_z.jpg">
        <img src="https://c1.staticflickr.com/3/2828/33865752910_3dff6e8737_z.jpg">
        <img src="https://c1.staticflickr.com/3/2888/34119127641_b346986164_z.jpg">
        <img src="https://c1.staticflickr.com/3/2810/33865752380_45484d26fc_z.jpg">
        <img src="https://c1.staticflickr.com/5/4177/34119127771_e5b348f0bd_z.jpg">
        <img src="https://c1.staticflickr.com/3/2828/33865752910_3dff6e8737_z.jpg">
        <img src="https://c1.staticflickr.com/3/2888/34119127641_b346986164_z.jpg">
        <img src="https://c1.staticflickr.com/3/2810/33865752380_45484d26fc_z.jpg">
        <img src="https://c1.staticflickr.com/5/4177/34119127771_e5b348f0bd_z.jpg">
        <img src="https://c1.staticflickr.com/3/2828/33865752910_3dff6e8737_z.jpg">
        <img src="https://c1.staticflickr.com/3/2888/34119127641_b346986164_z.jpg">
        <img src="https://c1.staticflickr.com/3/2810/33865752380_45484d26fc_z.jpg">
      </div>
      {{!-- {{#each data}}
      <img  class="gallery-art" src="{{this.url}}" alt="{{this.title}}">
      {{/each}} --}}
    </aside>
    <main class="pixel-display">
      <div class="pixel-display-pics">
        <img src="https://c1.staticflickr.com/5/4177/34119127771_e5b348f0bd_z.jpg">
        <img src="https://c1.staticflickr.com/3/2828/33865752910_3dff6e8737_z.jpg">
        <img src="https://c1.staticflickr.com/3/2888/34119127641_b346986164_z.jpg">
        <img src="https://c1.staticflickr.com/3/2810/33865752380_45484d26fc_z.jpg">
        <img src="https://c1.staticflickr.com/5/4177/34119127771_e5b348f0bd_z.jpg">
        <img src="https://c1.staticflickr.com/3/2828/33865752910_3dff6e8737_z.jpg">
        <img src="https://c1.staticflickr.com/3/2888/34119127641_b346986164_z.jpg">
        <img src="https://c1.staticflickr.com/3/2810/33865752380_45484d26fc_z.jpg">
        <img src="https://c1.staticflickr.com/5/4177/34119127771_e5b348f0bd_z.jpg">
        <img src="https://c1.staticflickr.com/3/2828/33865752910_3dff6e8737_z.jpg">
        <img src="https://c1.staticflickr.com/3/2888/34119127641_b346986164_z.jpg">
        <img src="https://c1.staticflickr.com/3/2810/33865752380_45484d26fc_z.jpg">
        <img src="https://c1.staticflickr.com/5/4177/34119127771_e5b348f0bd_z.jpg">
        <img src="https://c1.staticflickr.com/3/2828/33865752910_3dff6e8737_z.jpg">
        <img src="https://c1.staticflickr.com/3/2888/34119127641_b346986164_z.jpg">
        <img src="https://c1.staticflickr.com/3/2810/33865752380_45484d26fc_z.jpg">
        <img src="https://c1.staticflickr.com/5/4177/34119127771_e5b348f0bd_z.jpg">
        <img src="https://c1.staticflickr.com/3/2828/33865752910_3dff6e8737_z.jpg">
        <img src="https://c1.staticflickr.com/3/2888/34119127641_b346986164_z.jpg">
        <img src="https://c1.staticflickr.com/3/2810/33865752380_45484d26fc_z.jpg">
      </div>
      {{!--{{#each data}}
        <img class="pixel-art" src="{{this.div_data}}">
        <p>{{this.value}} Rate!</p>
      {{/each}}--}}
    </main>
  </div>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="index.js">

    </script>
  </body>
</html>
