<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gallery</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Sigmar+One" rel="stylesheet">
    <link rel="stylesheet" href="gallery-style.css">
  </head>
  <body>
    <nav>
      <h3 class="nav-title">Beast Jesus</h3>
      <div class="links">
        <a class="prof" href="/user">Your Profile</a>
        <a class="gallery" href="/pixel_page">Pixelate It</a>
      </div>
    </nav>
    <div class="page-container">
      <div class="container">
    <aside class="art-gallery">
      <div class="three-pics">
        {{#each data}}
        <img  class="gallery-art" src="{{this.url}}" alt="{{this.title}}">
        {{/each}}
      </div>
    </aside>
    <main class="pixel-display">
      <div class="pixel-display-pics">
        {{#each data}}
          <img class="pixel-art" src="{{this.div_data}}">
          {{!-- <p>{{this.value}} Rate!</p> --}}
        {{/each}}
      </div>
    </main>
  </div>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="index.js">

    </script>
  </body>
</html>
