<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beast Jesus</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Sigmar+One" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>
    <div class="background">
      <div class="row">
        <div class='grey'></div>
        <div class='lilac'></div>
        <div class='navy'></div>
        <div class='green'></div>
      </div>
      <div class="row">
        <div class='yellow'></div>
        <div class='grey'></div>
        <div class='lilac'></div>
        <div class='navy'></div>
      </div>
      <div class="row">
        <div class='green'></div>
        <div class='yellow'></div>
        <div class='grey'></div>
        <div class='lilac'></div>
      </div>
      <div class="row">
        <div class='navy'></div>
        <div class='green'></div>
        <div class='yellow'></div>
        <div class='grey'></div>
      </div>
    </div>
    <div class="cover">
      <div class="signUp" id="modButton">Sign Up/Login</div>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="form">
          <ul class="tab-group">
            <li class="tab active"><a href="#signup">Sign Up</a></li>
            <li class="tab"><a href="#login">Log In</a></li>
          </ul>
          <div class="tab-content">
            <div id="signup">
              <h1>Sign Up for Free</h1>
              <form action="/signup" method="post">
                <div class="top-row">
                  <div class="field-wrap">
                    <label>
                      First Name<span class="req">*</span>
                    </label>
                    <input type="text" required autocomplete="off" />
                  </div>
                  <div class="field-wrap">
                    <label>
                      Last Name<span class="req">*</span>
                    </label>
                    <input type="text" required autocomplete="off" />
                  </div>
                </div>
                <div class="field-wrap">
                  <label>
                    Email Address<span class="req">*</span>
                  </label>
                  <input type="email" required autocomplete="off" />
                </div>
                <div class="field-wrap">
                  <label>
                    Set A Password<span class="req">*</span>
                  </label>
                  <input type="password" required autocomplete="off" />
                </div>
                <button type="submit" class="button button-block" />Get Started</button>
              </form>
            </div>
            <div class="field-wrap">
              <label>
                Email Address<span class="req">*</span>
              </label>
              <input name="email" type="email" required autocomplete="off" />
            </div>
            <div class="field-wrap">
              <label>
                Set A Password<span class="req">*</span>
              </label>
              <input name="password" type="password" required autocomplete="off" />
            </div>
            <button type="submit" class="button button-block" />Get Started</button>
          </form>
        </div>
        <div id="login">
          <h1>Welcome Back!</h1>
              <form action="/signin" method="post">

                <div class="field-wrap">
                  <label>
                    Email Address<span class="req">*</span>
                  </label>
                  <input type="email" required autocomplete="off" />
                </div>

                <div class="field-wrap">
                  <label>
                    Password<span class="req">*</span>
                  </label>
                  <input type="password" required autocomplete="off" />
                </div>

                <p class="forgot"><a href="#">Forgot Password?</a></p>

                <button class="button button-block" />Log In</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="origJesus">

    </div>
    <div class="beastJesus">

    </div>
    </div>

    <div class="title">
      Beast Jesus
    </div>
    <div class="tagline">
      Famous art recreated pixel by pixel
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src='index.js'>

    </script>

  </body>
</html>
