<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Sigmar+One" rel="stylesheet">
    <link rel="stylesheet" href="user-style.css">
  </head>
  <body>
    <nav>
      <h3 class="nav-title">Beast Jesus</h3>
      <div class="links">
        <a class="prof" href="/gallery">Gallery</a>
        <a class="gallery" href="/pixel_page">Pixelate It</a>
      </div>
    </nav>
    {{!-- <h1>Hello {{user.id}}</h1>
    <div class="page-container">
      <div class="container">
        {{#users}}
          {{#each}}
          <img src="{{this.div_data}}" alt="">
          {{/each}}
        {{/users}}
      </div>
    </div> --}}
  </body>
</html>
