body{
  background-color: grey;
}
nav{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Sigmar One', cursive;
  opacity: .8;
  color: #fff;
  background-color: #222;
  justify-content: space-between;
}
.nav-title{
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-family: 'Sigmar One', cursive;
}
.links{
  display: flex;
  margin-top: 15px;
}
a {
  text-decoration: none;
  color: #87BA8D;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.prof, .gallery{
  margin-right: 20px;
  width: 250px;
  height: 100%;
  justify-content: space-around;
  font-size: 20px;
  text-align: center;
  background-color: #222;
  font-family: 'Sigmar One', cursive;
}
.prof:hover, .gallery:hover{
  background-color: #444;
  opacity: 0.4;
}
.page-container{
  margin-top: 75px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
